* {
	box-sizing: border-box;
}
body {
	background-color: #7b9499;
	font: "San-serif":

}
.container {
	background-color: #fff;
	box-shadow: 2px 2px 5px #444;
	border: 4px solid black;
	height: 100%;
	margin: 1px auto;
	max-width: 360px;
	max-height: 360px;
	padding: 0;
	width: 100%;
}
.row {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}
.box {
	border: 1px solid #34495e;
	background-color: #dcf2f7;
	flex: 1;
	height: 40px;
	padding: 0;
	text-align: center;
	width: 40px;
}
.active {
	background-color: #0a191c;
}
